@charset "utf-8";

/*
* @date: 2013-11-18
*/


/**------------- global BEGIN -----------------**/
.main{
	margin-left: 210px;
}
/**----- module BEGIN -----**/
/* module-report */
.module-hd{
	height: 80px;
	padding-top: 10px;
}
.module-hd h3{
	height: 80px;
	line-height: 80px;
	font-size: 26px;
	font-weight: 600;
	text-align: left;
	color: #000;
}
.module-report, .module-data{
	border-top: 1px solid #c3c3c3;
	/*height: 445px;*/
	padding-bottom: 20px;
}
.module-report-hd, .module-data-hd{
	height: 70px;
}
.report-tip{
	float: right;
	margin: 27px 15px 0 0;
}
.tip-ask{
	background-position: -84px -116px;
	height: 21px;
	width: 21px;
	display: block;
}
.report-tit{
	height: 70px;
	line-height: 70px;
}
.report-tit h3{
	font-size: 20px;
	font-weight: 600;
}
.module-report-tab{
	background-color: #29aae3;
	border-radius: 5px;
	height: 28px;
	padding: 10px;
}
.report-tab-warp li{
	padding: 5px 10px;
	margin: 0 5px;
	border-radius: 5px;
	float: left;
	color: #fff;
	cursor: pointer;
	line-height: 18px;
}
.report-hover{
	background-color: #0071bd;
}
.module-report-con{
	height: 400px;
}
/** module-data **/
.module-data-warp{
	margin-left: -6px;
}
.data-grid-left, .data-grid-right, .data-grid-middle, .data-grid-full{
	margin-top: 15px;
	width: 134px;
	/*height: 70px;*/
	padding: 10px 0px 5px;
	background-color: #f5f5f5;
	float: left;
	overflow: hidden;
	text-align: center;
}
.data-grid-left{
	border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	-o-border-radius: 8px 0 0 8px;
	-ms-border-radius: 8px 0 0 8px;
	margin-left: 6px;
	padding-right: 10px;
}
.data-grid-middle{
	padding-left: 6px;
	padding-right: 10px;
}
.data-grid-right{
	border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	-o-border-radius: 0 8px 8px 0;
	-ms-border-radius: 0 8px 8px 0;
	padding-left: 10px;
	margin-right: 6px;
}
.data-grid-full{
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	margin-left: 6px;
	margin-right: 6px;
	padding: 10px 2px 5px;
}
.module-data-warp li p{
	display: block;
	/*overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;*/
	word-wrap: break-word;
	/*height: 78px;*/
}
.data-grid-tit{
	font-size: 12px;
	font-weight: 600;
	height: 36px;
	padding-top: 5px;
}
.data-grid-num b{
	font-size: 26px;
	font-family: “Microsoft YaHei”, Arial, Tahoma;
	font-weight: bold;
	color: #026dbf;
	width: 90px;
	word-wrap: break-word;
	display: block;
	float: left;
}
.data-grid-num i{
	width: 42px;
	display: block;
	float: right;
	position: relative;
	padding-top: 5px;
}
.data-grid-num strong{
	font-size: 12px;
	display: block;
	text-align: center;
	font-weight: normal;
	letter-spacing: -1px;
}
.data-arrow{
	position: absolute;
	top: 23px;
	left: 15px;
	border-style: solid dashed dashed;
	border-color: transparent;
	border-top-color: #c0c0c0;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 0;
	border-width: 5px 5px 0;
}
.arrow-down{
	border-top-color: #fb0103;
}
.arrow-up{
	border-bottom-color: #8cc63e;
	border-style: dashed dashed solid;
	border-width: 0 5px 5px;
}

/**----- module END -----**/

/** nav **/
.navfixed{
	position: fixed!important;
	top: 0!important;
}
.nav{
	position: absolute;
	width: 180px;
	top: 0;
}
.nav-warp{
	width: 180px;
	height: 100%;
}
.nav-hd{
	height: 45px;
	line-height: 45px;
	margin-bottom: 30px;
	background-color: #999999;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.nav-tab{
	/*height: 25px;*/
	text-align: left;
	padding: 5px 10px;
	position: relative;
}
.nav-item li a b{
	display: block;
	height: 25px;
	line-height: 25px;
	font-weight:600;
	font-size: 14px;
	padding: 0 5px;
}
.nav-con li{
	margin: 5px 0;
}
.nav-con li a{
	display: block;
	padding: 4px 5px;
	line-height: 22px;
	height: 22px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}
.nav-con-hover{
	background-color: #ececec;
	/*color: #f50;*/
}
.nav-tab i{
	position: absolute;
	top: 17px;
	right: 25px;
}
.nav-tab em, .nav-tab span{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-color: rgba(255,255,255,0);
	border-color: transparent\0;
	*border-color:transparent;
	_border-color: tomato;
	_filter: chroma(color=tomato);
	border-style: solid;
	overflow: hidden;
}
.nav-tab em{
	border-width: 5px 5px 0;
	top: 2px;
	border-top-color: #666;
}
.nav-tab span{
	border-top-color: #f6f6f6;
	border-width: 5px 5px 0;
}
.nav-hover em{
	border-width: 0 5px 5px;
	top: -2px;
	border-bottom-color: #666;
}
.nav-hover span{
	border-bottom-color: #f6f6f6;
	border-width: 0 5px 5px;
}
/**------------- global END -----------------**/