.noPermission-wrap{
    height:335px;
}
.noPermission-image{
    margin:22px auto auto auto;
    width:152px;
    height:180px;
    background:url('../img/noPermission.png') 0 0 no-repeat;
}
.noPermission-message{
    margin-top:16px;
    text-align:center;
    color:#666;
    font-family:"宋体";
    font-size:14px;
}
